name: CI
on:
  push:
    branches:
      - feature/*
      - fix/*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Flake8 Linter
        run: flake8 src/__init__.py

      - name: Run Tests
        run: python3 -m unittest